@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: black;
    font-family: "Poppins", serif;;
    color: wheat;
}

.canvas-container{
    /* width: 200px;
    height: 200px; */
    border: 2px solid #ff4242;
    height: 60vh;
}

.canvas{

}

.page{
    margin-top: 40px;
}

.header{
    background-color: #005141;
    position:absolute;
    top:0;
    left: 0;
    padding:5px;
    color:wheat;
    z-index: 10;
    width: 100vw
}